/* Global */
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Pangolin|Roboto');

body {
    background: #6303fc;
    font-family: 'Roboto', sans-serif;
    font-family: 'Pangolin', cursive;
}

/* Typography */

h1,h2,h3,h4,h6 {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 4em;
}
h2 {
    font-size: 2em;
}